body {
	overflow-x: hidden;
}

u {
	text-decoration: none;
}
.test-mode {
	padding: 10px;
	border: solid 1px #ffacac;
	background-color: #ffeded;
	margin-bottom: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	color: red;
}
.maincontent {
	font-size: 10pt;
	width: 1060px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	min-height: 500px;
	padding-bottom: 30px;
	#columns {
		display: table;
	}
	.main-column-left {
		display: table-cell;
		vertical-align: top;
		width: 210px;
		min-height: 500px;
	}
	.main-column-right {
		padding-left: 10px;
		display: table-cell;
		vertical-align: top;
		min-height: 500px;
		width: 840px;
		color: #222;

		.usercontent {
			text-align: justify;
			padding-bottom: 10px;
			margin-top: 30px;
		}
		.usercontent.above img {
			max-width: 830px;
		}
		.container {
			width: 840px;
			margin: 0;
			float: left;
			.product {
				margin-top: 20px;
				background: none !important;
				min-height: 255px;
				margin-right: 10px !important;
				float: left;
				border: 1px dashed #e1e1e1;
				text-align: center;
				box-shadow: none;
				border-radius: 0;
				&:hover {
					border: 1px solid #e1e1e1;
				}
				.number {
					font-weight: 100 !important;
					overflow: visible !important;
					white-space: normal !important;
				}
				.price {
					font-size: 18px;
					font-weight: normal;
					color: #444;
				}
				.imageFrame {
					position: relative;
					height: 200px;
					width: 175px;
					img {
						position: absolute;
						max-height: 100%;
						max-width: 100%;
						width: auto;
						height: auto;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						margin: auto;
					}
				}
				a {
					font-weight: bold;
					font-size: 10px;
					.title {
						height: 30px;
						width: 182px;
						font-size: 12px;
						min-height: 30px !important;
						color: #222;
					}
					&:visited {
						color: #222;
					}
				}
				&.hover {
					.details {
						display: none;
					}
				}
				.details {
					position: relative;
					width: 184px;
					height: 26px;
					margin: 6px 0 0 4px;
					display: none;
				}
				.detail {
					border: 2px solid black;
				}
			}
			a {
				float: left;
				margin-right: 15px;
				margin-left: 0;
				.path {
					width: 405px;
					height: 188px;
				}
			}
		}
		.usercontent.below {
			margin-bottom: 50px;
			padding-right: 20px;
			float: left;
		}
		.template-content {
			float: left;
		}
		.product {
			.label {
				width: 120px;
				display: inline-block;
				vertical-align: top;
			}
			.value {
				display: inline-block;
				&.price {
					font-weight: bold;
					color: green;
					.symbol {
						font-weight: normal;
					}
				}
			}
			.sheet {
				margin-top: 10px;
				color: gray;
				font-size: 10px;
				cursor: pointer;
			}
			.input-extension {
				margin-top: 10px;
			}
			.input-remark {
				margin-top: 10px;
				display: inline-block;
				color: gray;
				font-size: 11px;
				margin-left: 4px;
			}
			.input {
				margin-top: 2px;
			}
			.missing {
				background-color: #FFCCCC;
				border-color: red;
			}
			.imageFrame {
				text-align: center;
				margin-bottom: 8px;
				border: solid 1px #7A7A7A;
				border-radius: 0.75em;
			}
			.imageFrame img {
				border-radius: 0.75em;
			}
			.header-custom {
				color: gray;
				margin-bottom: 10px;
				margin-top: 20px;
				font-style: italic;
			}
			.input-submit {
				margin-left: 122px;
				margin-top: 2px;
			}
			.input-submit button {
				border-radius: 0px 0px 8px 0px;
			}
			textarea.input {
				border: solid 1px steelblue;
				background-color: #ffd;
				border-radius: 2px;
				font-size: 12px;
				padding: 4px;
				color: #333;
			}
			#remark {
				width: 300px;
				height: 100px;
			}
			.details {
				vertical-align: top;
				margin-top: 20px;
				margin-bottom: 20px;
				width: 595px;
			}
			#extension .input-pulldown {
				width: 130px;
			}
			#disqus_thread {
				margin-right: 10px;
				width: 400px;
				margin-top: 20px;
			}
			.related-container {
				.related {
					border: solid 1px #D2CFCD;
					background-color: #EFEBE8;
					width: 187px;
					height: 45px;
					-moz-transition: height 0.25s;
					-o-transition: height 0.25s;
					-webkit-transition: height 0.25s;
					transition: height 0.25s;
					margin-left: 6px;
					float: left;
					border-radius: 0.75em;
					margin-bottom: 10px;
					box-shadow: 0 0 4px rgba(122, 122, 122, 0.5);
					cursor: pointer;
					&.open {
						cursor: default;
						height: 160px;
						.imageFrame {
							border: solid 1px #666;
							box-shadow: 4px 4px 4px rgba(122, 122, 122, 0.5);
							z-index: 101;
							min-height: 138px;
							padding-bottom: 0;
							img {
								display: block !important;
								&:hover {
									border: dotted 1px #8c3292;
								}
							}
							.label {
								color: #8c3292;
							}
						}
					}
					.imageFrame {
						position: relative;
						z-index: 100;
						vertical-align: top;
						width: 167px;
						margin: auto;
						margin-top: 10px;
						margin-bottom: 10px;
						text-align: center;
						border: dotted 1px #C9C8C8;
						border-radius: 0.75em;
						background-color: white;
						padding-bottom: 4px;
						&:hover {
							border-color: #333;
						}
						img {
							border: solid 1px white;
							cursor: pointer;
							margin: auto;
							margin-top: 10px;
							margin-bottom: 10px;
							display: none;
						}
						.label {
							font-weight: bold;
							color: #565656;
							font-size: 12px;
							white-space: nowrap;
							margin-top: 5px;
						}
					}
				}
			}
			.top-description {
				color: #222;
				font-size: 20px;
				padding-bottom: 0;
				margin-bottom: 20px;
				border-bottom: 2px solid #465363;
				font-weight: bold;
				text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
				opacity: 1;
				margin-right: 15px;
			}
			.product-left {
				width: 600px;
				float: left;
				.product-image {
					display: inline-block;
					vertical-align: top;
					.imageFrame {
						width: 400px;
						min-height: 280px;
						box-shadow: none;
						border: none;
					}
				}
				.product-detail {
					margin-top: 20px;
					font-size: 12px;
					display: inline-block;
					vertical-align: top;
					.header {
						font-weight: bold;
						text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
						color: #444;
						opacity: 1;
						border-bottom: 1px solid #465363;
						padding-bottom: 2px;
						margin-bottom: 8px;
						margin-right: 15px;
					}
					.description {
						padding-bottom: 5px;
						font-weight: bold;
					}
					.info {
						.value.price {
							color: #222;
						}
					}
				}
			}
			.product-right {
				margin-left: 26px;
				float: left;
				clear: right;
				.product-options {
					width: 399px;
					display: inline-block;
					.header {
						background-image: url('//hybridsaasblob.blob.core.windows.net/aspekto-public/website/pages/product-detail/personaliseer.png');
						width: 399px;
						height: 51px;
					}
					.body {
						width: 363px;
						border: solid 1px #D2CFCD;
						border-top: none;
						margin-left: 7px;
						background-color: #EFEBE8;
						box-shadow: 0 2px 4px rgba(92, 92, 92, 0.25);
						padding: 10px;
						padding-bottom: 20px;
						color: #565656;
						.intro.item {
							.description {
								font-weight: bold;
							}
							.option-header {
								margin-top: 10px;
								font-weight: bold;
							}
							.value.price {
								color: #222;
							}
						}
						.item {
							padding-left: 50px;
						}
						.number {
							position: relative;
							margin-top: -10px;
							display: inline-block;
							border-radius: 50%;
							width: 32px;
							height: 32px;
							-moz-box-sizing: border-box;
							-webkit-box-sizing: border-box;
							box-sizing: border-box;
							border: solid 1px #b33fb2;
							background-color: #8F328E;
							box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
							text-align: center;
							color: white;
							font-size: 20px;
							padding-top: 1px;
							text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
						}
						.input-item {
							margin-top: 15px;
							padding-left: 50px;
						}
						.number-item {
							vertical-align: top;
							margin-left: 18px;
							display: inline-block;
							padding-top: 4px;
							input[type=text] {
							  width: 300px;
							  border: solid 1px #7D7D7F;
							  height: 25px;
							  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.14);
							  font-size: 12px;
							  padding-left: 5px;
							  -moz-box-sizing: border-box;
							  -webkit-box-sizing: border-box;
							  box-sizing: border-box;
							}
							textarea {
								font-size: 12px;
								padding-left: 5px;
								width: 300px;
								height: 80px;
								border: solid 1px #7D7D7F;
								box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.14);
							}
							select {
								width: 300px;
								border: solid 1px #7D7D7F;
								height: 25px;
								box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.14);
								font-size: 12px;
								padding-left: 5px;
								-moz-box-sizing: border-box;
								-webkit-box-sizing: border-box;
								box-sizing: border-box;
							}
							.cart-button {
								background-image: url('//hybridsaasblob.blob.core.windows.net/aspekto-public/website/images/cart/cart-white.svg');
								background-size: 34px 28px;
								background-repeat: no-repeat;
								background-position: 230px;
								width: 300px;
								border: outset 1px #7D7D7F;
								border-radius: 10px;
								font-size: 16px;
								font-weight: bold;
								text-transform: uppercase;
								padding: 10px;
								padding-top: 12px;
								padding-right: 40px;
								color: white;
								background-color: #008200;
								text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.14);
								box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
								outline: none;
								&:hover {
									box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
								}
								&:active {
									padding-top: 13px;
									padding-bottom: 9px;
									padding-right: 38px;
									text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.34);
									box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
									background-position: 231px 8px;
								}
							}
						}
					}
					.footer {
						height: 42px;
						width: 386px;
						background-image: url('//hybridsaasblob.blob.core.windows.net/aspekto-public/website/pages/product-detail/personaliseer-onder.png');
						margin-left: 7px;
						margin-bottom: 20px;
					}
				}
			}
		}
	}
	&.hasmenu {
		.content {
			width: 858px;
			margin-left: 30px;
			padding-left: 0;
		}
	}
	.topmenu {
		margin: 5px -9999rem 10px;
		padding: 0.25rem 9999rem;
		background-color: rgba(248, 247, 247, .95);
		nav {
			padding-top: 8px;
			padding-bottom: 8px;
			font-size: 15px;
			a {
				color: #222;
				text-decoration: none;
				&:visited {
					color: #222;
					text-decoration: none;
				}
				&:hover {
					text-decoration: underline;
				}
			}
			li {
				list-style-type: none;
				margin: 0;
				display: inline-block;
				a {
					padding-left: 26px;
					padding-right: 26px;
					padding-top: 10px;
					padding-bottom: 10px;
					color: #222;
					text-decoration: none;
					&:visited {
						color: #222;
						text-decoration: none;
					}
					&:hover {
						background-color: #EEE;
						text-decoration: none;
					}
				}
			}
		}
	}
	.menucontent {
		margin-top: 25px;
		margin-left: 10px;
		font-size: 14px;
		nav {
			display: inline-block;
			vertical-align: top;
			width: 190px;
			margin-right: 10px;
			li {
				padding: 5px 0;
			}
			a, a:visited {
				color: #222;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

.product-image-rest {
	display: inline-block;
	position: relative;
	vertical-align: top;
	width: 165px;
	margin-left: 10px;
	min-height: 122.5px;
	text-align: center;
	margin-bottom: 8px;
	border: solid 1px #7A7A7A;
	border-radius: 0.75em;
	box-shadow: 0 0 4px rgba(122, 122, 122, 0.5);
	background-color: #F6F4F3;
	&:before {
		background-color: #F6F4F3;
		border-left: solid 1px #7A7A7A;
		border-bottom: solid 1px #7A7A7A;
		content: "\00a0";
		display: block;
		height: 10px;
		left: -6px;
		position: relative;
		top: 20px;
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		width: 10px;
	}
	.header {
		font-weight: bold;
		color: #565656;
		margin-top: 10px;
		margin-bottom: 17px;
	}
	.imageFrame {
		width: 135px;
		min-height: 100px;
		margin: auto;
		border: dotted 1px #C9C8C8;
		background-color: white;
		margin-bottom: 10px;
		cursor: pointer;
		opacity: 0.6;
		&:hover {
			border: solid 1px #C9C8C8;
			opacity: 1;
		}
		&.active {
			border: solid 1px gray;
			opacity: 0.7;
		}
	}
}

#footer {
	width: 1060px;
	height: 50px;
	margin: auto;
	margin-top: 50px;
	border: 2px solid black;
	padding: 5px 0 0 0;
}
#header {
	width: auto;
	height: 50px;
	margin: auto;
	padding: 5px 0 0 0;
	background-color: #465363;
}
#bottommenu {
	width: 1060px;
	padding: 10px;
	padding-bottom: 0;
	margin: auto;
	nav {
		font-size: 15px;
		margin: 5px -9999rem 0;
		padding: 0.50rem 9999rem;
		background-color: #f5f5f5;
		li {
			list-style-type: none;
			margin: 0;
			display: inline-block;
			a {
				padding-left: 26px;
				padding-right: 26px;
				padding-top: 10px;
				padding-bottom: 10px;

				text-decoration: none;
				color: #222;
				&:visited, &:hover {
					text-decoration: none;
					color: #222;
				}
			}
		}
	}
}
#bottommenu2 {
	width: 1060px;
	padding: 0;
	margin: auto;
	nav {
		font-size: 15px;
		margin: 0 -9999rem 10px;
		padding: 0.50rem 9999rem;
		background-color: #465363;
		li {
			list-style-type: none;
			margin: 0;
			display: inline-block;
			a {
				padding-left: 26px;
				padding-right: 26px;
				padding-top: 10px;
				padding-bottom: 10px;

				text-decoration: none;
				color: #222;
				&:visited, &:hover {
					text-decoration: none;
					color: #222;
				}
			}
		}
	}
}
/*# sourceMappingURL=main.css.map */